

        /* Global Reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        /* Body Styling */
        body {
           background: #000000;
           color: #fff;
        }

        /* Header Styling */
       
        header {
            width: 100%;
            height: 100vh;
            background-size: cover;
            overflow: hidden;
        }
        #home{
            background-image: url(photos/background.png);
        }
        #projects{
            height: 10vh;
        }
        header::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: inherit;
            filter: blur(20px);
            transform: translateY(70px);
        }
        .header-text{
            margin-top: 12%;
            margin-left: 10%;
            font-size: 30px;
        }
        .header-text h2{
            display: inline-block;
            font-size: 50px;
          
        }

        .header-text h2 span{
            position: relative;
            display: inline block;
            color: transparent;
            -webkit-text-stroke: 1px #ffcc00;
            animation: display-text 16s linear infinite;
            animation-delay: calc(-4s * var(--i));
        }
        @keyframes display-text{
            25%,100%{
                display: none;
            }
        }
        .header-text h2 span::before{
            content: attr(data-text);
            position:absolute;
            width: 0;
            border-right: 2px solid #ffcc00;
            color: #ffcc00;
            white-space: nowrap;
            overflow: hidden;
            animation: fill-text 4s linear infinite;
        }
        @keyframes fill-text{
            10%,
            100%{
                width: 0;
            }
            70%,
            90%{
                width:100%;
            }
        }

        

        nav img{
            width: 110px;
            height: 100px;
            align-items: center;
            
        }

        nav{

            display:flex ;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 80px;
            padding-right: 120px;
        }

        nav ul {
            display: flex;
            gap: 20px; 
        }


        nav ul li {
            display: inline-block;
            font-size: 20px;
            margin: 10px 20px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s ease;
        }

        nav ul li a:hover {
            color: #ffcc00; /* Change color on hover */
        }

        /* Main Content Section */
       

        /* Section Styling */
        section {
    
            width: 80%;
            margin: 40px auto;
            padding: 20px;
            border-radius: 12px;
            background-color: rgba(224, 224, 220, 0.1);
            margin-top: 100px;
            
        }

        section h2 {
            font-size: 3rem;
            color: #ffcc00;
            margin-bottom: 10px;
        }

        section h3{
            font-size: 1.5rem;
        }

        section p {
            font-size: 1.3rem;
            color: #ffffff;
            line-height: 1.8;
            margin-top: 20px;
        }

        .skills p{
            display: inline;
            margin-left: 40px;
            margin-top: 10px;
        }
        .skills h3{
            margin-bottom: 5px;
            margin-top: 25px;
        }
        .skills img{
            background-color: #ffcc00; 
            padding: 0.5rem;
            border-radius: 6px;
            transition: background 0.3s ease;
        }
        .skills img:hover{
            background: rgba(255, 255, 255, 0.8);
        }
        

        /* links Styling */
        links {
            padding: 10px;
        }

        links ul {
            list-style-type: none;
        }

        links ul li {
            display: inline;
            padding: 0px 50px;

        }

        links ul li img {
            background-color: #ffcc00; 
            font-weight: 600;
            text-decoration: none;
            padding: 0.5rem;
            border-radius: 6px;
            transition: background 0.3s ease;
        }

        links ul li img:hover {
            background: rgba(255, 255, 255, 0.8);
            
            
        }
        main h2{
            font-size: 1.5rem;
        }
        .projects h1{
            color: #ffcc00;
            font-size: 3rem;
            margin-top: 50px;
            padding: 0 90px;
        }
        .projects section{
            transition: 0.7s ease;
            outline: none;
        }
        .projects section:hover{
            transform: scale(1.01);
            outline: 5px solid #ffcc00 ;
        }
        .projects section img{
            background-color: #ffcc00; 
            text-decoration: none;
            padding: 0.5rem;
            border-radius: 6px;
            margin-right: 40px;
           
        }
        .read-btn{
            margin-top: 10px;
            display:inline-block;
            text-decoration: none;
            color: rgb(0, 0, 0);
            border-radius: 6px;
            font-size: 15px;
            padding: 5px 10px;
            background: #ffcc00;
            position: relative;
            cursor: pointer;
        }
    
        

        /* Footer Styling */
        footer {
            text-align: center;
            padding: 15px 0;
            background-color: #ffcc00;
            color: rgb(0, 0, 0);
            font-size: 0.9rem;
            letter-spacing: 0.5px;
            box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
            margin-top: 30px;
        }

    